
.text1{
    font-style: impact;    
    color: white;
}

.boxShad {
    box-shadow: inset 0px 0px .5em .5em black, inset 0px 0px 1em .5em black;
	}

/* This container includes our table and the canvas */
.center-container{
    /* This property sets the width of our container */
    width: 608px;
    /* The following centers the container */
    margin: 0 auto;
    /* 50 px down from the top */
    margin-top: 50px;
}



canvas{
    /* this property sents the positon of our canvas to the top left corner of our container */
    position: absolute;
    /* This property places our canvas over the top of our tables */
    z-index: 10;
    /* This property makes our canvas invisible */
    pointer-events: none;
}

h1
{
    text-align: center;
}

html{
    background-color: darkgray;

  background-image: url("../Images/stars_tile.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
    
}
body{
	background-color: black;
  	background-image: url("../Images/stars_tile.png");
 	background-repeat: repeat;
	background-position: center;
  	background-size: cover;
}

.txtWht	{
	color: white;
}
.txtBlk	{
	color: black;
}



/* Assuming your containing div has a class "badge-container" */
.badges {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100%; /* Optional: Set a height if needed */
 margin-left: 1em;
	margin-right: 1em;
}



#game{
margin: auto;
}


#id_home{
background-image: url("../../Images/bannerGames.png");
}

#id_gamesList{

	  display: flex;
  justify-content: center;
  align-items: center;
	  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

table {
  width: 100%;
  border-collapse: collapse;

  font-family: Arial, sans-serif; /* Choose your preferred font */
	  background-color: white; /* Background color for table headers */
		  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid black; /* Border color for table rows */

	  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}


#id_gamesList a.tabItem {
  color: black !important; /* Change the link text color to black */
}

th {
  background-color: #f2f2f2; /* Background color for table headers */

}

td:hover {
  background-color: #f5f5f5; /* Background color when hovering over rows */
}

