
.boxShad1 {
    box-shadow: inset 0px 0px .5em .5em black, inset 0px 0px 1em .5em black;
	}


      
body {
background-image: url("../../Images/bgDream.png");
background-repeat: repeat;

}

.class_decription{

	color: white;

}
