.text1
{
    font-style: impact;    
    color: white;
};

.gray{    
    
    background-color: dimgrey;

};

.dkgray{    
    
    background-color: rgb(61, 61, 61);

}

.blk{    
    
    background-color: rgb(16, 16, 16);

}

body{    
    
    background-color: rgb(16, 16, 16);

}


.card{    
    
    background-color: rgb(0, 0, 0);

}


h1 {
    color: red;
}

p {
    color: rgb(139, 138, 138);
    text-shadow: 0px 0px 0px  red;
}

.card-title {
    color: rgb(204, 198, 198);
    text-shadow: 0px 0px 0px  red;
}

.cardSection{

    box-shadow: 0px 0px 10px 12px rgb(0, 0, 0);

}

.footer{

   text-align: center;
   color: red;

}

/*   
body {
    
background-image: url("../Images/bgCyberField.png");
background-repeat: repeat;

} */

video {
    position: absolute;
    top: 0;
    left: 0;
  }

/* Style the video: 100% width and height to cover the entire window */
.video-wrapper {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;
  
    width: 400px;
    height: 200px;
  
    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;
  
    /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }