.text1
{
    font-style: impact;    
    color: white;
}

.gray{    
    
    background-color: dimgrey;

}

.dkgray{    
    
    background-color: rgb(61, 61, 61);

}

.blk{    
    
    background-color: rgb(16, 16, 16);

}


      
body {
    
background-image: url("../Images/bgCyberField.png");
background-repeat: repeat;

}
