marquee {
  background-color: red
}

h1 {
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: black;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

th {
  font-size: 1.8em;
  text-align: center;
  font-size: 1.6em;
  vertical-align: middle;
  text-align: center;
  height: 30x;
  line-height: 30x;
  text-align: center;
  border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  justify-content: center;
}

td {
  font-size: 1.4em;
  vertical-align: middle;
  text-align: center;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  justify-content: center;
  padding: 5px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-size: 1.2em;
}






/* NOt needed other than for delivery order tab */
.navBtn {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;

}



/* Used to style smaller sections like nested tables */
.small {
  color: black;

  padding: 5px 5px;
  text-decoration: none;
  color: black;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #87cefa,
    0 0 15px #87cefa,
    0 0 21px #87cefa,
    0 0 25px #87cefa,
    0 0 28px #87cefa,
    0 0 42px #87cefa,
    0 0 82px #87cefa,
    0 0 92px #87cefa,
    0 0 102px #87cefa,
    0 0 112px #87cefa,
    0 0 122px #87cefa,
    0 0 151px #87cefa;
}


/* No comma? */
li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}





.header {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  font-stretch: expanded;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footer {
  text-align: center;
  background-color: #111;
  color: aliceblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}


.home {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
  font-stretch: expanded;
}


.footer {
  position: sticky;
  bottom: 0;
}

.firmsCode,
.scac {
  color: black;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size:
    30px;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #ffffff,
    0 0 21px #ffffff,
    0 0 42px #ffffff,
    0 0 102px #ffffff;
}



#sect_deliveryOrders {
  border: 3px solid black;
}


.dropbtn {
  /*  background-color: black; */
  /*  color: white; */
  position: relative;
  display: block;
  border: none;

}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 200px;
}

.dropdown-content a {
  color: black;
  padding: 3px 3px;
  text-decoration: none;
  display: block;

  font-size: 1.2em
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  z-index: 1;
}

button {
  background-color: #21201E;
  /* Green */
}

.rownav {
  overflow: visible;
  zoom: 1.0;
  background-color: #21201E;
  /* Green */
}

.rownav:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.small:hover {
  background-color: rgb(199, 198, 198);

  text-shadow:
    0 0 7px white,
    0 0 10px white,
    0 0 15px white,
    0 0 21px white,
    0 0 25px white,
    0 0 28px white,
    0 0 42px white,
    0 0 82px white,
    0 0 92px white,
    0 0 102px white,
    0 0 112px white,
    0 0 122px white,
    0 0 151px white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.smallHeader {
  font-size: 1.2em;
  color: black;
  text-align: center;
  padding: 7px 7px;
  color: black;
}

.navCopy{
  text-align: center;
  vertical-align: auto;
  color: white;
}