

   body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #wordTable {
    border-collapse: collapse;
    margin: auto;
    width: 193%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    table-layout: fixed; /* Added property */
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    width: auto; /* Added property */
    word-wrap: break-word; /* Added property */
  }
  
  .marked {
    background-color: red;
  }
  
  #buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    margin: 5px;
  }
  
  .empty-cell {
    visibility: hidden;
  }
  

  .controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #controls {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  #filters {
    flex-grow: 1;
    text-align: center;
  }