
/*  STICKY SIDE PANEL */
/*  STICKY SIDE PANEL */

.stickySidePanelBtn{
	height: 0px;
width: 250px;
position: -webkit-sticky; /* for Safari users */
position: sticky;
top: 150px;
float: left;
margin-top: 0px;
padding-top:0px;
background-color: lightblue;

}



.stickySidePanel{
	height: 200px;
	width: 100px;
	position: -webkit-sticky; /* for Safari users */
	position: sticky;
	top: 0px;
	float: right;
	margin-top: 400px;
	padding-top: 20px;
	background-color: lightblue;
	max-width: 11em;
	
}



.sidepanel  {
	width: 0;
	position: fixed;
	z-index: 1;
	height: 400px;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
	text-align: center; 
	

}


.sidepanel li{
	padding-top: .5em;
	text-align: center; 
}

.sidepanel li button{
	vertical-align: middle;

}


.sidepanel a {
  padding: 2px 2px 2px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
/* END STICKY SIDE PANEL */
/* END STICKY SIDE PANEL */

