  .shadows {
    text-shadow:
      0 0 7px #fff,
      0 0 10px #87cefa,
      0 0 15px #87cefa,
      0 0 21px #87cefa,
      0 0 25px #87cefa,
      0 0 28px #87cefa,
      0 0 42px #87cefa ,
      0 0 82px #87cefa ,
      0 0 92px #87cefa ,
      0 0 102px #87cefa ,
      0 0 112px #87cefa ,
      0 0 122px #87cefa ,
      0 0 151px #87cefa ;
    }
    
  .shadow-blue {
    text-shadow:
      0 0 7px #fff,
      0 0 10px #87cefa,
      0 0 15px #87cefa,
      0 0 21px #87cefa,
      0 0 25px #87cefa,
      0 0 28px #87cefa,
      0 0 42px #87cefa ,
      0 0 82px #87cefa ,
      0 0 92px #87cefa ,
      0 0 102px #87cefa ,
      0 0 112px #87cefa ,
      0 0 122px #87cefa ,
      0 0 151px #87cefa ;
  }
  
  .shadow-green {
    text-shadow:
      0 0 7px #fff,
      0 0 10px #00ff00,
      0 0 15px #00ff00,
      0 0 21px #00ff00,
      0 0 25px #00ff00,
      0 0 28px #00ff00,
      0 0 42px #00ff00,
      0 0 82px #00ff00,
      0 0 92px #00ff00,
      0 0 102px #00ff00,
      0 0 112px #00ff00,
      0 0 122px #00ff00,
      0 0 151px #00ff00;
  }
  
  .shadow-red {
    text-shadow:
      0 0 7px #fff,
      0 0 10px red,
      0 0 15px red,
      0 0 21px red,
      0 0 25px red,
      0 0 28px red,
      0 0 42px red ,
      0 0 82px red ,
      0 0 92px red ,
      0 0 102px red ,
      0 0 112px red ,
      0 0 122px red ,
      0 0 151px red ;
  }
  
  .shadow-yellow {
    text-shadow:
      0 0 7px #fff,
      0 0 10px yellow,
      0 0 15px yellow,
      0 0 21px yellow,
      0 0 25px yellow,
      0 0 28px yellow,
      0 0 42px yellow,
      0 0 82px yellow,
      0 0 92px yellow,
      0 0 102px yellow,
      0 0 112px yellow,
      0 0 122px yellow,
      0 0 151px yellow;
  }

  /* Box Shadow Colors */
  
  .boxShad{
    box-shadow: 4px 4px 6px 8px rgba(0, 0, 255, .2), -4px -4px 4px 4px rgba(0, 0, 255, .2);
    }
  
  .boxShad-blue{
    box-shadow: 4px 4px 6px 8px rgba(0, 0, 255, .2), -4px -4px 4px 4px rgba(0, 0, 255, .2);
    }

  .boxShad-green{
    box-shadow: 4px 4px 6px 8px rgba(0, 255, 102, 0.2), -4px -4px 4px 4px rgba(0, 0, 255, .2);
    }

  .boxShad-red{
    box-shadow: 4px 4px 6px 8px rgba(255, 0, 0, 0.33), -4px -4px 4px 4px rgba(0, 0, 255, .2);
    }

  .boxShad-yellow{
    box-shadow: 4px 4px 6px 8px rgba(255, 238, 0, 0.2), -4px -4px 4px 4px rgba(0, 0, 255, .2);
    }

  /* Box Fill Colors */

    .boxFill{
      background-color: powderblue;
    }

    .boxFill-blue{
      background-color: powderblue;
    }

    .boxFill-green{
      background-color: rgb(130, 214, 118);
    }

    .boxFill-red{
      background-color: rgb(244, 98, 98);
    }

    .boxFill-yellow{
      background-color: rgb(251, 255, 129);
    }


    
  /* Box Border Colors */

  .boxBor{
    border-color: powderblue;
  }

  .boxBor-blue{
    border-color: powderblue;
  }

  .boxBor-green{
    border-color: rgb(130, 214, 118);
  }

  .boxBor-red{
    border-color: rgb(244, 98, 98);
  }

  .boxBor-yellow{
    border-color: rgb(251, 255, 129);
  }

      
  /* Box text Colors */

  .boxText{
    color: rgb(47, 47, 152);
  }

  .boxText-blue{
    color: rgb(47, 47, 152);
  }

  .boxText-green{
    color: rgb(47, 158, 32);
  }

  .boxText-red{
    color: rgb(160, 35, 35);
  }

  .boxText-yellow{
    color: rgb(172, 177, 1);
  }

    /* Box Transparent Colors */

    .boxTran{
      background-color:  rgba(64, 101, 223, 0.4);
    }

    .boxTran-blue{
      background-color:  rgba(64, 101, 223, 0.4);
    }

    .boxTran-green{
      background-color: rgba(90, 255, 68, 0.4);
    }

    .boxTran-red{
      background-color: rgb(244, 98, 98,0.4);
    }

    .boxTran-yellow{
      background-color: rgb(251, 255, 129,0.4);
    }
