/* ----------------- */
/* Copied Message Noti */
.copy-button {
    cursor: pointer;
  }
  
  .copied-message {
    position: absolute;
    z-index: 9999;
    font-size: 24px;
    padding: 8px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 4px;
    animation: fade-out 2s ease-in-out;
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  /* Positioning the message */
  .copied-message.show {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Hiding the message */
  .copied-message.hide {
    display: none;
  }
  
  /* End Copied Message Noti */
  /* ----------------- */